<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Homepage</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.png">
    <!-- Pignose Calender -->
    <link href="../plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="../plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="../plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
    <link href="../plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo" style="display:table-cell;vertical-align:middle;text-align:center">
                <a href="/admin/homepage" style="height: 80px;padding-top: 16px;">
                    <b class="logo-abbr"><img height="36" src="../images/logo.png" alt=""> </b>
                    <span class="brand-title" style="margin-top: 0px">
                        <img height="54" src="../images/logo-text.png"  alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <!-- <div class="header-left">
                    
                </div> -->
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user">
                                <span shiro:principal property="username"></span>
                            </a>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="../images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="/logout"><i class="icon-key"></i> <span>退出</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">用户信息</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/admin/allUser">用户总览</a></li>
                            <li><a href="/admin/hardwareBaseline">硬件信息</a></li>
                            <li><a href="/admin/systemBaseline">系统信息</a></li>
                            <li><a href="/admin/accountBaseline">账户信息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">基线扫描</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/admin/regeditBaseline">扫描结果</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">后门扫描</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/admin/shadowBaseline">影子账户</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Windows Baseline</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white" th:text="${WindowsBaselineNumber != null ? WindowsBaselineNumber:'0'}"></h2>
                                    <p class="text-white mb-0" id="date1"></p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-windows"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Linux Baseline</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white" th:text="${LinuxBaselineNumber != null ? LinuxBaselineNumber:'0'}"></h2>
                                    <p class="text-white mb-0" id="date2"></p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-linux"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Registered User</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white" th:text="${TotalUser != null ? TotalUser : '0'}"></h2>
                                    <p class="text-white mb-0" id="date3"></p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Bound Machine</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white" th:text="${CheckedUser != null ? CheckedUser : '0'}"></h2>
                                    <p class="text-white mb-0" id="date4"></p>
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-check-square-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Windows Baseline</h4>
                                <div id="windows-donut-chart" style="height: 60%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Linux Baseline</h4>
                                <div id="linux-donut-chart" style="height: 60%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="javascript:void(0)">TX今天吃什么</a> 2022</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../plugins/common/common.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/settings.js"></script>
    <script src="../js/gleek.js"></script>
    <script src="../js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="../plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="../plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="../plugins/d3v3/index.js"></script>
    <script src="../plugins/topojson/topojson.min.js"></script>
    <script src="../plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="../plugins/raphael/raphael.min.js"></script>
    <script src="../plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="../plugins/moment/moment.min.js"></script>
    <script src="../plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="../plugins/chartist/js/chartist.min.js"></script>
    <script src="../plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="../plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="../plugins/sweetalert/js/sweetalert.init.js"></script>

    <script src="../plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="../plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="../plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    <script src="../plugins/raphael/raphael.min.js"></script>
    <script src="../plugins/morris/morris.min.js"></script>

    <script src="../../static/js/dashboard/dashboard-1.js"></script>

    <script th:inline="javascript">
        $(function () {
            "use strict";
            Morris.Donut({
                element: 'windows-donut-chart',
                data: [{
                    label: "High Importance",
                    value: [[${WindowsBaseline.high}]]
                }, {
                    label: "Middle Importance",
                    value: [[${WindowsBaseline.middle}]]
                }, {
                    label: "Low Importance",
                    value: [[${WindowsBaseline.low}]]
                }],
                colors: ['#4d7cff', '#7571F9', '#9097c4']
            });

            Morris.Donut({
                element: 'linux-donut-chart',
                data: [{
                    label: "High Importance",
                    value: [[${LinuxBaseline.high}]]
                }, {
                    label: "Middle Importance",
                    value: [[${LinuxBaseline.middle}]]
                }, {
                    label: "Low Importance",
                    value: [[${LinuxBaseline.low}]]
                }],
                resize: true,
                colors: ['#4d7cff', '#7571F9', '#9097c4']
            });

        });
    </script>

    <script th:inline="javascript">
        var dt = new Date();
        var m=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Spt","Oct","Nov","Dec");
        var w=new Array("Monday","Tuseday","Wednesday","Thursday","Friday","Saturday","Sunday");
        var d=new Array("st","nd","rd","th");
        mn=dt.getMonth();
        wn=dt.getDay();
        dn=dt.getDate();
        var dns;
        if(((dn%10)<1) ||((dn%10)>3)){
            dns=d[3];
        }
        else
        {
            dns=d[(dn%10)-1];
            if((dn==11)||(dn==12)){
                dns=d[3];
            }
        }
        document.getElementById("date1").innerHTML = (m[mn]+" "+dn+dns+" - "+dt.getFullYear());
        document.getElementById("date2").innerHTML = (m[mn]+" "+dn+dns+" - "+dt.getFullYear());
        document.getElementById("date3").innerHTML = (m[mn]+" "+dn+dns+" - "+dt.getFullYear());
        document.getElementById("date4").innerHTML = (m[mn]+" "+dn+dns+" - "+dt.getFullYear());
    </script>

</body>

</html>